<div class="well">
  <%= form_for @user do |f| %>
<%= render 'shared/errors', obj: @user %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: 'Username' %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <br>
  <%= f.submit 'Register' %>
<% end %>
</div>